<h1 class="mt-4">Montagens</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Alteração de Valor na Montagem</li>
  </ol>

  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Código:</label>
            <input type="text" class="form-control" />
          </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Descrição:</label>
              <input type="text" class="form-control" disabled="true" />
            </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Valor para ser alterado: *</label>
              <input type="text" class="form-control" />
            </div>
          </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Valor Original:</label>
                <input type="text" class="form-control" disabled="true"/>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-save"></i> Salvar
            </button>
          </div>
        </div>

    </form>

  </div>
